/* style for top and bottom bar */


/* footer begin */
#footerWrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: white;
}

#footer {
  height: 150px;
  background-color: #f4f4f9;
  padding: 2px;
  margin: 0.5%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

#w3c {
  padding-top: 17px;
}
/* footer end */

/* navbar begin  */
/* note: login page overrides the style */
#navbarWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: white;
  z-index: 1;
}

#navbar {
  background-color: #f4f4f9;
  padding: 2px;
  margin: 0.5%;
  height: 5%;
  display: flex;
  justify-content: center;
}

#navbar > a,
#navbar #drop > a {
  text-decoration: none;
  color: firebrick;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 15pt;
  transition: all 0.4s ease;
}

#navbar > a:hover:not(:first-child),
#navbar #drop > a:hover {
  background: firebrick;
  color: #f4f4f9;
  border-radius: 12px;
  margin: 10px;
  padding: 5px 20px;
  transition: all 0.5s ease;
}

#navbar > a:first-child {
  padding: 10px 0;
}

#navbar > a:first-child:hover {
  opacity: 0.8;
}

a #logoMain {
  background-color: firebrick;
  border-radius: 12px;
  display: inline-block;
  padding: 5px 20px;
  margin-right: 0;
}

#logoInit, #logoComplete {
  display: inline-block;
  color: #f4f4f9;
}

#navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* responsive bars on small screens, leaves only icons in top bar, hide w3c img on bottom bar*/
@media (max-width: 750px) {
  #footer > #w3c,
  #logoComplete,
  #navbar span {
    display: none;
  }
}

/* dropdown */

#drop {
  overflow: hidden;
  float: left;
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: inherit; /* Important for vertical align on mobile phones */
}

#drop:hover #dropContent {
  display: block;
}

#dropContent {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: fixed;
}

#dropContent li,
#dropContent li a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

#dropContent li:first-child{
  border-bottom: 1px solid #dee2e6;
  padding: 0 10px;
}

#dropContent li:hover,
#dropContent li a:hover {
  color: firebrick;
}

/* animated cart icon when there is at least one product in it */
.fa-cart-arrow-down {
  animation: infiniteRotate 0.7s linear infinite;
}

/* Standard syntax */
@keyframes infiniteRotate {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
/* navbar end  */
