/* cart page style */

.cartList {
  width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.product {
  padding: 20px 30px;
  height: 220px;
  display: flex;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

/* "X" button */
button[name="remove"] {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #e1e8ee;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 18pt;
  font-weight: bold;
}

.title,
.productTotal,
.quantity {
  padding-top: 10px;
  margin-right: 5%;
  display: block;
  height: 28px;
}

/* "+" and "-" buttons */
button[name="minus"],
button[name="plus"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 2px;
  color: black;
  font-size: 18pt;
  font-weight: bold;
}

button:focus,
input:focus {
  outline: 0;
}

.product img {
  margin-left: 20px;
}

.quantity,
.productTotal,
.title {
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 100px;
  height: 28px;
  margin-left: 5%;
}

span[name="currentQuantity"] {
  padding: 0 5px;
}

.checkout {
  margin: 7px 0 0 10%;
}

.checkout > p {
  font-size: 16pt;
  display: inline-block;
  width: 40%;
}

button[name="confirm"] {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border: 1px #dee2e6 solid;
  border-radius: 0px;
  cursor: pointer;
  color: #f4f4f9;
  font-weight: bold;
  transition: all 200ms linear;
  font-weight: bold;
  background: firebrick;
  margin: 0 auto;
}

button:hover {
  opacity: 0.8;
}

.cartList,
.cartList > h2 {
  text-align: center;
}

.cartList > h2 {
  font-size: 20pt;
}

@media (max-width: 800px) {
  .cartList {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  button[name="remove"] {
    margin-top: 10px;
  }

  .product {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .quantity,
  .title,
  span[name="currentQuantity"],
  .productTotal {
    text-align: center;
    bottom: 0;
    padding: 0;
    margin: 0;
  }

  .quantity {
    padding: 0 5%;
  }
}
