/* common style used by all BB pages */

* {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14pt;
}

#frame {
  width: 90%;
  margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  max-width: 1100px;
  min-width: 520px;
  margin: auto;
  height: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 44pt;
}

h2 {
  text-align: center;
  font-size: 20pt;
}

hr{
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 2s steps(39, end) 1s 1 normal both,
    animated-cursor 500ms steps(39, end) infinite;
  margin: 0 auto;
}

a {
  color: dodgerblue;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  color: darkgoldenrod;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* feedback message */

#flash {
  padding: 12px;
  text-align: center;
  display: none;
  z-index: 2;
  cursor: pointer;
  position: fixed;
  top: 63px;
  left: 5%;
  width: 90%;
}

#flash.warning {
  background-color: #e9c46a;
}

#flash.greeting {
  background-color: #e9ecef;
}

#flash.success {
  background-color: lightgreen;
}
