/* style for home page, fading images */

#pics {
  position: relative;
  z-index: -1;
}

/* crop image to center */
#pics > img {
  position: fixed;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
}

#text {
  position: absolute;
  width: 40vw;
  max-width: 450px;
  border-radius: 5px;
  padding: 15px;
  text-align: justify;
  transform: translate(0, -40%);
  top: 40%;
  background: white;
}

@media (max-width: 750px) {
  #text {
    width: 100%;
  }

  #pics>img{
  left: -200%;
  }
}
