.grid {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.grid img {
  /* width: 31%; */
  /* height: auto; */
  /* display: inline-block; */
  /* padding: 1%; */
}

.card {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 1500px;
  width: 300px;
  height: 475px;
  padding: 10px;
}

.content {
  position: relative;
  width: 300px;
  height: 475px;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.back {
  background-color: #e9ecef;
  color: black;
  transform: rotateY(180deg);
}

.back,
.grid img {
  position: absolute;
  width: 300px;
  height: 475px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
}

.card:hover .content {
  cursor: pointer;
}

/* FIXME */
/* @media screen and (max-width: 800px) { */
/*   .card { */
/*     width: 47%; */
/*   } */
/* } */

/* @media screen and (max-width: 600px) { */
/*   .card { */
/*     width: 100%; */
/*     /\* margin: 0 auto; *\/ */
/*   } */
/* } */

.back > h2 {
  font-size: 16pt;
  text-align: center;
  padding-top: 20px;
  /* display: inline-block; */
}

.back > ul,
.back > p {
  /* margin-top: 10px; */
  padding: 20px;
  list-style-type: none;
  margin: auto;
  /* margin-left: 20px; */
}

.back > p {
  text-align: center;
}

.back > ul > li {
  padding: 4px;
}

.back > p > i {
  background: black;
  color: white;
  border-radius: 50%;
  padding: 4px;
  margin-top: 10px;
}

.back > p > i:hover {
  background: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
