/* overwrite navbar style by hiding everything except logo */
#navbar > a:not(:first-child),
#navbar #drop > a {
  display: none;
}

.selector {
  list-style: none;
  padding: inherit;
}

.selector li a {
  padding: 5px 0px 5px 0px;
  display: block;
  text-decoration: none;
  font-size: 14pt;
  float: left;
  width: 50%;
  text-align: center;
  transition: 0.5s ease;
  background: #6c757d;
  opacity: 0.5;
}

.selector li a {
  cursor: pointer;
  color: white;
}

.selector li a:hover,
.selector .active a {
  font-weight: bold;
  background: firebrick;
}

.selector li a:hover {
  opacity: 0.8;
}

.selector .active a {
  opacity: 1;
}
