body {
  text-align: center;
  font-size: 14pt;
  font-style: italic;
}

#puzzlearea {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
}

#puzzlearea div {
  border: black solid 5px;
  width: 90px;
  height: 90px;
  font-size: 40pt;
  position: absolute;
  background-image: url('./Richard_Stallman.jpg');
}

#puzzlearea div:hover {
  border: red solid 5px;
  color: red;
}

/*top right bottom left*/
#r0c0 {
  margin: 0px 0px 0px 0px;
}
#r0c1 {
  margin: 0px 0px 0px 100px;
}
#r0c2 {
  margin: 0px 0px 0px 200px;
}
#r0c3 {
  margin: 0px 0px 0px 300px;
}

#r1c0 {
  margin: 100px 0px 0px 0px;
}
#r1c1 {
  margin: 100px 0px 0px 100px;
}
#r1c2 {
  margin: 100px 0px 0px 200px;
}
#r1c3 {
  margin: 100px 0px 0px 300px;
}

#r2c0 {
  margin: 200px 0px 0px 0px;
}
#r2c1 {
  margin: 200px 0px 0px 100px;
}
#r2c2 {
  margin: 200px 0px 0px 200px;
}
#r2c3 {
  margin: 200px 0px 0px 300px;
}

#r3c0 {
  margin: 300px 0px 0px 0px;
}
#r3c1 {
  margin: 300px 0px 0px 100px;
}
#r3c2 {
  margin: 300px 0px 0px 200px;
}
#r3c3 {
  margin: 300px 0px 0px 300px;
}
