<script src="../controller/common.js" type="text/javascript"></script>
  <div id="navbarWrap">
    <div id="navbar">
      <a href="index.php">
        <div id="logoMain">
          <div id="logoInit"> BB </div>
          <div id="logoComplete"> Ceramics </div>
        </div>
      </a>

      <a href="about.php"><i class="fa fa-fw fa-heart-o"></i><span> About</span></a>
      <a href="shop.php"><i class="fa fa-fw fa-shopping-basket"></i><span> Shop</span></a>
      <a href="cart.php" name="droppable"><i class="fa fa-shopping-cart"></i><span> Carrello</span></a>
      <div id="drop">
          <a href= "#"><i class="fa fa-fw fa-user"></i><span> Profilo <i class="fa fa-caret-down"></i></span></a>
          <div id="dropContent">
              <li><a href="orders.php">Ordini</a></li>
              <li>Esci</li>
          </div>
      </div>
    </div>
  </div>
<div id="frame"> <!-- content except for bars -->
    <div id="flash"></div>
